body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
}

a {
  color: #ff0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

.playBtn {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 2rem 0;
  font-family: "Press Start 2P", cursive;
  padding: 1.25em 3em;
  border-radius: 50px;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #ffbf5c;
  color: #ffffff;
}

.playfultext {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
}

.playBtn:hover {
  transform: scale(1.2);
  -webkit-transition: transform 0.1s ease-in-out;
}

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1; /* TODO Solve this in HTML */
}

a,
button,
input,
select {
  pointer-events: auto;
}

.dg.ac {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
  position: absolute;
  font-size: 16px;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
}

#overlay button {
  background: transparent;
  border: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  color: #ffffff;
  padding: 12px 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.mainbtn {
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 2rem 0;
		font-family: 'Press Start 2P', cursive;
		padding: 1.25em 3em;
		border-radius: 50px;
		font-size: 1rem;
		line-height: 1;
		text-align: center;
		cursor: pointer;
		background-color: #FFBF5C;
		color: #ffffff;  
		animation: fade;
		-webkit-animation: fade;
		animation-duration: 7s;
	}
	@keyframes fade{
		from {opacity: 0;
			transform: scale3d(.3, .3, 1);
		}
		to {opacity: 1;
			  transform: scale3d(1, 1, 1);;
			}
	}
	@-moz-keyframes fade {
		from {opacity: 0;
			transform: scale3d(.25, .25, 1);
		}
		to {opacity: 1;
			  transform: scale3d(1, 1, 1);;
			}
		}
		
		@-webkit-keyframes fade {
			from {opacity: 0;
				transform: scale3d(.25, .25, 1);
			}
			to {opacity: 1;
				  transform: scale3d(1, 1, 1);;
				}
		}
		
		@-o-keyframes fade {
			from {opacity: 0;
				transform: scale3d(.25, .25, 1);
			}
			to {opacity: 1;
				  transform: scale3d(1, 1, 1);;
				}
		}
		
		@-ms-keyframes fade {
			from {opacity: 0;
				transform: scale3d(.25, .25, 1);
			}
			to {opacity: 1;
				  transform: scale3d(1, 1, 1);;
				}
		}

.mainbtn:hover {
		transform: scale(1.2);
		-webkit-transition: transform 0.1s ease-in-out;
		background-color: rgba(0,0,0,0.7);;
	}

.title {
  margin-bottom: 25%;
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 2em;
  color: #ffbf5c;
}

#notSupported {
  width: 50%;
  margin: auto;
  background-color: #f00;
  margin-top: 20px;
  padding: 10px;
}
.fadeIn {
	opacity: 1;
	transition: opacity 3s; 
  }
  
  .fadeOut {
	opacity: 0;
  }
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
  }

  .title4{
	left: 50%;
	margin-top: 120px;
	font-family: 'Press Start 2P', cursive;
	font-size: 3rem;
	text-align: center;
	animation: fadein;
	-webkit-animation: fadeIn;
	animation-duration: 6s;
	
}


.title3{
	font-family: 'Press Start 2P', cursive;
	font-size: 3rem;
	animation: fadein;
	-webkit-animation: fadeIn;
	animation-duration: 4s;
	text-align: center;
	margin-top: 90px;

}

.title2{

	font-family: 'Press Start 2P', cursive;
	font-size: 4rem;	
	animation: fadeIn;
	-webkit-animation: fadeIn;
	animation-duration: 2s;
	text-align: center;
	margin-top: 60px;

}
@keyframes fadeIn{
	from {opacity: 0;
		transform: scale3d(.25, .25, 1);
	}
	to {opacity: 1;
		  transform: scale3d(1, 1, 1);;
		}
}
@-moz-keyframes fadeIn {
	from {opacity: 0;
		transform: scale3d(.25, .25, 1);
	}
	to {opacity: 1;
		  transform: scale3d(1, 1, 1);;
		}
	}
	
	@-webkit-keyframes fadeIn {
		from {opacity: 0;
			transform: scale3d(.25, .25, 1);
		}
		to {opacity: 1;
			  transform: scale3d(1, 1, 1);;
			}
	}
	
	@-o-keyframes fadeIn {
		from {opacity: 0;
			transform: scale3d(.25, .25, 1);
		}
		to {opacity: 1;
			  transform: scale3d(1, 1, 1);;
			}
	}
	
	@-ms-keyframes fadeIn {
		from {opacity: 0;
			transform: scale3d(.25, .25, 1);
		}
		to {opacity: 1;
			  transform: scale3d(1, 1, 1);;
			}
	}
